@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:wght@100..900&family=Reem+Kufi:wght@400..700&display=swap');
body{
  background-color: #14100D;
  /*color:#FFFFFE ;*/
  color:#DBB25C;
  font-family: "Reem Kufi", sans-serif;
}